<%=  form_for(question) do |f| %>
  <div class="field">
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.order(:first_name), :id, :full_name,  include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active%>
  </div>
  <div class="field">
  <%= f.label :tags %>
<%= f.text_field :tag_list, value: f.object.tag_list.to_s %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
