<!-- NOTE: Commented out sections are placeholder for when the backend is merged with the front. Current solution is static for styling and testing purposes. -->


<div id="question" class="card d-block img-fluid mb-2">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <%= link_to question_path(question), :class => "question-summary" do %>
           <h3><%= question.summary %></h3>
        <% end %>
        </a>
      </div>
      <div class="col-md-3">
        <small class="float-right"><i>Asked by <%= question.user.name %> on <%= question.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b. %e, %Y at %l:%M %p") %> </i></small>

      </div>
    </div>
    <!-- Tags -->
    <div class="row pl-3">
    <% question.tag_list.each do |t| %>
      <h6 class="pr-1"><span class="badge badge-warning">
        <%= t %>
      </span></h6>
      <% end %>
    </div>
  </div>
  <!-- /Tags -->

  <div class="card-block">
  <% if question.answers.length > 0 %>
    <h4 class="card-title">Top Answer</h4>
      <div class="card-text" role="tab" id="headingOne">
        <div class="row ml-2 pb-2">
          <%= question.answers.first.response %>
        </div>
        <div class="row ml-2 pb-2">
          <small class=""><i>
          <% if question.answers.first.user %>
            Answered by 
            <%= question.answers.first.user.first_name %> 
            <%= question.answers.first.user.last_name %>
          <% end %>
          on <%= question.answers.first.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b. %e, %Y at %l:%M %p") %> </i></small>
        </div>
        <small><%= link_to "See All Answers", question_path(question) %></small>
      </div><!-- /card-text -->
   <% end %>
    <div class="row">
      <div class="col-sm-4">
        <% if question.views_count > 0 %>
          <span class="badge badge-success badge-pill"><i class="fa fa-eye" aria-hidden="true"></i> <%= question.views_count %></span>
        <% end %>
        <% if question.cached_votes_score != 0 %>
          <span class="badge badge-success badge-pill"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= question.cached_votes_score %></span>
        <% end %>
        <% if question.comments.length > 0 %>
          <span class="badge badge-success badge-pill"><i class="fa fa-comment" aria-hidden="true"></i> <%= question.comments.length %></span>
        <% end %>
        <% if question.answers.length > 0 %>
          <span class="badge badge-success badge-pill"><i class="fa fa-pencil" aria-hidden="true"></i> <%= question.answers.length %></span>
        <% end %>
      </div>
      <div class="col-sm-8">
      <% if current_user.voted_for? question %>
       <%= link_to "Unlike", unlike_question_path(question), method: :put, type: "button", class: "btn btn-outline-primary pull-right mr-1" %>
      <% else %>
        <%= link_to "Like", like_question_path(question), method: :put, type: "button", class: "btn btn-outline-success pull-right mr-1" %>
      <% end %>
        <%= button_to "Comment", new_question_comment_path(question), :method => :get, :class => "btn btn-outline-success pull-right mr-1" %>
        <%= button_to "Answer", new_question_answer_path(question), :method => :get, :class => "btn btn-outline-success pull-right mr-1" %>

      </div>
    </div>
  </div><!-- /card-block -->
</div><!-- /question -->
