
  <div class="container mt-4">
  	<div class="row">
  		<div class="col-md-12">
  		<%= link_to "Back", questions_path, type: "button", class: "btn btn-outline-secondary mr-1 mb-1" %>
			<div id="question" class="card d-block img-fluid">
			  <div class="card-header">
			    <div class="row">
			      <div class="col-md-9">
			        <div class="question-summary">
			           <h3><%= @question.summary %></h3>
			        </div>
			      </div>
			      <div class="col-md-3">
			        <small class="float-right"><i>Asked by <%= @question.user.name %> on <%= @question.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b. %e, %Y at %l:%M %p") %> </i></small>

			      </div>
			    </div>
			    <div class="row pl-3">
			    <% @question.tag_list.each do |t| %>
			      <h6 class="pr-1"><span class="badge badge-warning">
			        <%= t %>
			      </span></h6>
			      <% end %>
			    </div>
			  </div>
			  <div class="card-block">
			  	<% if @question.body? %>
				    <h4 class="card-title">Detail:</h4>
				    <div class="card-text" role="tab" id="headingOne">
				      <div class="row ml-2 pb-2">
				        
				        <small class=""><i>Answered by Muffy Barkocy on May 26, 2017 at 5:36 PM</i></small>
				      </div>
				    </div>
				  <% end %>
			    <div class="row">
			      <div class="col-sm-4">
				      <% if @question.views_count != 0 %>
				        <span class="badge badge-success badge-pill"><i class="fa fa-eye" aria-hidden="true"></i> <%= @question.views_count %></span>
				      <% end %>
			        <% if @question.cached_votes_score != 0 %>
			          <span class="badge badge-success badge-pill"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= @question.cached_votes_score %></span>
			        <% end %>
			        <% if @question.comments.length != 0 %>
			          <span class="badge badge-success badge-pill"><i class="fa fa-comment" aria-hidden="true"></i> <%= @question.comments.length %></span>
			        <% end %>
			        <% if @question.answers.length != 0 %>
			          <span class="badge badge-success badge-pill"><i class="fa fa-pencil" aria-hidden="true"></i> <%= @question.answers.length %></span>
			        <% end %>
			      </div>
			      <div class="col-sm-8">
				      <% if current_user.voted_for? @question %>
				       <%= link_to "Unlike", unlike_question_path(@question), method: :put, type: "button", class: "btn btn-outline-primary pull-right mr-1" %>
				      <% else %>
				        <%= link_to "Like", like_question_path(@question), method: :put, type: "button", class: "btn btn-outline-success pull-right mr-1" %>
				      <% end %>
			        <%= button_to "Comment", new_question_comment_path(@question), :method => :get, :class => "btn btn-outline-success pull-right mr-1" %>
			        <%= button_to "Answer", new_question_answer_path(@question), :method => :get, :class => "btn btn-outline-success pull-right mr-1" %>
			      </div>
			    </div>
  				<%= render 'creator_options', question: @question %>
			  </div>
			  <div class="container">
				  <%= render partial: 'comments/comments_index', locals: {commentable: @question} %>

				</div>
			</div>
			<%if @question.answers.length > 0 %>
				<div class="card pt-2">
					<h4 class="card-title pl-2">Answers</h4>
					<div class="container">
						<% @question.answers.each do |a| %>
							<%= render 'show_answer', answer: a, question: @question %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>