<h1><%= @question.body %></h1>
<h5>Submitted by <%= link_to @question.user.full_name, user_path(@question.user.id) %> on <%= @question.created_at %></h5>
<h4>Active: <%= @question.active %></h4>
<h4>  Tags:
  <% @question.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %></h4>
<p><%=  @question.votes_for.count %> Votes <button><%= link_to 'Add Vote', like_question_path(@question), method: :put %></button> <button><%= link_to 'Remove Vote', unlike_question_path(@question), method: :put %></button> </p>


<h2>Answers</h2>

<%= render partial: 'questions/answer', collection: @question.answers %>
<% @question.answers.each do |answer| %>
<hr>
<% end %>
<p><%= link_to 'Edit Question', edit_question_path(@question) %></p>
<p><%= link_to 'Delete Question', @question, method: :delete %></p>

