<!DOCTYPE html>
<html>
  <head>
    <title>InstaSmart</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>

  </head>

  <body>
    <%= render 'navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
